.full-height {
  height: 100%;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-content {
  padding: 10%;
}

.totem-bnt {
  height: 30%;
  text-align: center;
}

.print-text {
  text-align: center;
  text-transform: capitalize;
}

.ticket-number {
  font-size: 10em;
}

.skip-line-top {
  margin-top: 1em;
}

/*TV list*/
li {
  list-style: none;
  background: #d1703c;
  color: #fff;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
}

li.show {
  height: 2em;
  margin: 2px 0;
}

.fade li {
  -webkit-transition: all 0.4s ease-out;
  opacity: 0;
}

.fade li.show {
  opacity: 1;
}
