body{
  background-repeat: no-repeat;
  background-position: bottom right;
}

.full-height {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.wrapper-index{
  color: #fff
}

.header{
  display: flex;
  order: 1;
  font-size: 500%;
  font-weight: bold;
  margin-bottom: 5%;
}

.padded-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.totem-btn{
  display: flex;
  flex: 1 1;
  width: 80%;
  height: 1%;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  text-shadow: -2px 2px #346392;
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
}

.totem-btn:focus{
  outline:0;
}

.totem-btn:active{
  box-shadow: inset 0 0 0 1px #27496d,
  inset 0 5px 30px #193047;
}

.btn-dark{
  order: 2;
  background: rgb(26, 96, 182);
  margin-bottom: 6%;
}

.btn-light{
  order: 3;
  background: rgb(59, 166, 216);
  margin-bottom: 7%;
}

.totem-btn-sm{
  flex: 0 1 auto;
  height: 20%;
  width: 50%;
  text-decoration: none!important;
  margin-bottom: 5%;
}

.totem-btn-sm:hover{
  color: inherit;
}

.form-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
}

.form-submit-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.print-text {
  text-align: center;
  text-transform: capitalize;
}

.ticket-number {
  font-size: 8em;
}

.skip-line {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

/*TV list*/
li {
  list-style: none;
  background: #d1703c;
  color: #fff;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
}

li.show {
  height: 2em;
  margin: 2px 0;
}

.fade li {
  -webkit-transition: all 0.4s ease-out;
  opacity: 0;
}

.fade li.show {
  opacity: 1;
}
