body{
  background-repeat: no-repeat;
  background-position: bottom right;
}

.full-height {
  height: 100%;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.wrapper-index{
  color: #fff
}

.header{
  display: flex;
  order: 1;
  font-size: 500%;
  font-weight: bold;
  margin-bottom: 5%;
}

.padded-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.totem-btn{
  display: flex;
  flex: 1 1;
  width: 80%;
  height: 1%;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  text-shadow: -2px 2px #346392;
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
}

.totem-btn:focus{
  outline:0;
}

.totem-btn:active{
  box-shadow: inset 0 0 0 1px #27496d,
  inset 0 5px 30px #193047;
}

.btn-dark{
  order: 2;
  background: rgb(26, 96, 182);
  margin-bottom: 6%;
}

.btn-light{
  order: 3;
  background: rgb(59, 166, 216);
  margin-bottom: 7%;
}

.totem-btn-sm{
  flex: 0 1 auto;
  height: 20%;
  width: 50%;
  text-decoration: none!important;
  margin-bottom: 5%;
}

.totem-btn-sm:hover{
  color: inherit;
}

.form-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
}

.form-submit-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  width: auto;
  height: auto;
}

.print-text {
  text-align: center;
  text-transform: capitalize;
}

.ticket-number {
  font-size: 8em;
}

.skip-line {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

/*TV list*/
#body-tv{
  background-repeat: no-repeat;
  background-position: top left;
  font-size: 3.6vh;
  color: #fff;
  text-align: center;
}

#tv-workspace {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 100%;
  width: 100%;
  align-items: center;
}

.screen-header {
  height: 10vh;
  width: 100%;
}

.screen-body {
  height: 90vh;
}

.screen-header img {
  width: auto;
  height: inherit;
  float: left;
  padding-left: 4vw;
  padding-top: 2vh;
}

.boxed-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 6.5vh;
  font-weight: bold;
}

.tv-flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.tv-col {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.tv-col.called {
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: rgb(26, 96, 182);
  border-radius: 15px;
  border: 7px solid rgba(80, 76, 76, 0.86);
  margin-left: 15px;
  /*height: 90%;*/
}

.box {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.ticket-data {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-size: 6.5vh;
  font-weight: bold;
  width: 95%;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.ticket {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(26, 96, 182);
  height: 0;
  width: 100%;
  /*margin: 5px;*/
  border-radius: 15px;
  overflow: hidden;
}

.called .box {
  /*width: 40%;*/
  justify-content: flex-start;
  /*padding-top: 20px;*/
  background-color: rgb(26, 96, 182);
  align-content: flex-start;
}

.called .label {
  display: none;
  color: black;
}

.called .ticket-data {
  font-size: 3.71vh;
  border-bottom: 4px solid rgba(80, 76, 76, 0.86);
}

li {
  overflow: hidden;
}

.fade li {
  -webkit-transition: all 0.4s ease-out;
  opacity: 0;
  /*height: 12em;*/
}

/*@media only screen
  and (min-width: 721px)
  and (min-width: 1920px){*/
  .fade .ticket.show{
    height: 44vh;
  }


.fade li.show {
  opacity: 1;
}

.ticket.show {
  /*height: 100%;*/
  border: 0.3vw solid rgba(80, 76, 76, 0.86);
  margin-bottom: 1vh;
}

.called .fade .ticket.show {
  /*height: 5em;*/
  height: 5.3em;
  background: #fff;
  margin: 5px;
}

.tv-flex-wrapper.main {
  align-items: flex-start;
}

@keyframes example1 {
 100% {
 transform: translateX(-100%);
 }
}

.scrolling-text{
  transform: translateX(100%);
  animation: example1 5s linear infinite;

}
