<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/error.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body class="full-height">

    <div class="vertical-align padded-10">
      <div class="alert alert-danger" role="alert">
        <p style="text-align: center;" id="errorMessage"></p>
      </div>

      <form class="form-box">
        <div class="form-group" id="user-input-container">
          <label class="control-label" for="user-input">Tela</label>
          <input type="text" class="form-control" id="user-input" placeholder="Tela" aria-describedby="user-help">
          <span id="user-help" class="help-block hide">Usuário é obrigatório</span>
        </div>

        <div class="form-group" id="authkey-input-container">
          <label class="control-label" for="authkey-input">Chave de autorização</label>
          <input type="text" class="form-control" id="authkey-input" placeholder="Chave de autorização" aria-describedby="authkey-help">
          <span id="authkey-help" class="help-block hide">Chave de autorização é obrigatória</span>
        </div>

        <button class="btn btn-primary form-submit-btn" id="save-configuration-btn">
          Salvar
        </button>
      </form>
    </div>

  </body>

</html>
