<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/print.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body class="full-height modal-content">

    <div class="print-text" id="ticket-organization">
    </div>

    <div class="print-text ticket-number" id="ticket-number">
    </div>

    <div class="print-text">
      <span id="ticket-queue"></span> - <span id="ticket-preferred"></span>
    </div>

    <div class="print-text skip-line-top" id="ticket-date-time">
    </div>

  </body>

</html>
