<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/totem.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.css"></script>
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body class="full-height" style="background-image:url(logo.png)">
    <div class="wrapper">
      <header class="header">TOQUE NA OPÇÃO</header>
      <button type="button" class="totem-btn btn-dark" id="normal_queue">
        Normal
      </button>
      <button type="button" class="totem-btn btn-light" id="preferencial_queue">
        Preferencial
      </button>
    </div>
  </body>
</html>
