<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/totem.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.css"></script>
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body class="full-height padded-10">
    <div class="row full-height">
      <div class="col-xs-6 full-height">
        <div
          id="normal_queue"
          class="alert alert-info vertical-align totem-btn"
          role="alert"
        >
          <span>Normal</span>
        </div>
      </div>

      <div class="col-xs-6 full-height">
        <div
          id="preferencial_queue"
          class="alert alert-info vertical-align"
          role="alert"
        >
          Preferencial
        </div>
      </div>
    </div>
  </body>

</html>
