<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/totem.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.css"></script>
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body class="full-height">
    <div class="screen-header">
      <img id="logo-header"></img>
    </div>
    
    <div class="screen-body">
      <div id="mainWrapper" class="wrapper"></div>
    </div>
  </body>
</html>
