<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/tv.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <meta charset="UTF-8">
    <title>Fila</title>
  </head>

  <body class="full-height">
    <div class="line-big">
      <div class="alert alert-info" role="alert">
          001 Consultorio 1
      </div>
    </div>

    <div class="line-big">
      <div class="alert alert-info" role="alert">
          001 Consultorio 1
      </div>
    </div>
  </body>

</html>
