<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/tv.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body class="full-height">

    <ul>
      <li class="show new">
        <span id="ticket">001</span>
        <span id="destination">Sala 01</span>
        <span id="complement">João da Silva</span>
      </li>

      <li class="show old">
        <span id="ticket">001</span>
        <span id="destination">Sala 01</span>
        <span id="complement">João da Silva</span>
      </li>
    </ul>

    <ul id="list" class="fade" style="opacity: 1;">
    </ul>

    <button id="add-to-list">Add a list item</button>

  </body>

</html>
