<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script src="../src/tv.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="edoc.css">
    <meta charset="UTF-8">
    <title>eDoc</title>
  </head>

  <body id="body-tv" class="full-height">

    <div class="screen-header">
      <img id="logo-header"></img>
    </div>

    <div class="screen-body">
      <div id="tv-workspace" class="tv-flex-wrapper">
        <div class="tv-flex-wrapper main">

          <div class="tv-col" style="width: 100%">
            <ul id="new-tickets-list" class="box uppercase fade" style="opacity: 1; margin-bottom: 0;">
            </ul>
          </div>

          <div class="tv-col called" style="width: 40%;">
            <div id="last-calls-title">
              ÚLTIMAS CHAMADAS:
            </div>

            <ul id="old-tickets-list" class="box uppercase fade" style="opacity: 1;">
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
